@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.app-root {
  min-height: 100vh;
  background: #6f2dbd;
}

.page-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 16px;
}

.topbar {
  padding: 14px 16px;
}

.icons {
  color: #fdfdfd;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card {
  border: 1px solid #63e3c2;
  border-radius: 0;
}

.card-body {
  padding: 14px 14px 16px;
  font-size: 0.8em;
  background-color: #1f0a4d;
  color: #fdfdfd;
}

.green-text {
  color: #80e31a;
}

.topbar input.form-control {
  background: transparent;
  border: 1px solid #fdfdfd;
  border-radius: 0;
  color: #fdfdfd;
}
.topbar input.form-control::placeholder {
  color: #fdfdfd;
}

.topbar input.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
  outline: none;
  border: 1px solid #fdfdfd;
}

.topbar-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.topbar-left {
  flex: 0 0 155px;
}
.topbar-logo {
  width: 155px;
  display: block;
}

.topbar-center {
  flex: 1;
  min-width: 0;
  display: flex;
  justify-content: center;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 14px;
  flex: 0 0 auto;
  flex-shrink: 0;
}

.lang {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  cursor: pointer;
}

.search-wrap {
  width: 100%;
  max-width: 420px;
  min-width: 0;
}

.avatar {
  width: 30px;
  border-radius: 50%;
  display: block;
}

.image-wrap {
  height: 100%;
  background: #111;
  overflow: hidden;
}

.image-wrap img {
  width: 100%;
  object-fit: cover; /* zoom */
  object-position: top center; /* anchor to top */
  display: block;
}

.listing-card {
  overflow: hidden;
}

.listing-media {
  height: 30vh;
  background: #111;
}

.listing-body {
  min-height: 190px;
  padding: 14px 14px 16px;
  font-size: 0.8em;
  background-color: #1f0a4d;
  color: #fdfdfd;
}

.listing-title {
  line-height: 1.2;
  min-height: 2.4em;
}

.listing-row {
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 20px;
}

.listing-old {
  color: #b3aac9;
}

.listing-region {
  margin-top: 6px;
  font-size: 0.9em;
  color: #25c59b;
}

.listing-placeholder {
  visibility: hidden;
}

.listing-likes {
  /* margin-top: 8px; */
}

.image-wrap {
  height: 100%;
  background: #111;
  overflow: hidden;
}
.image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  display: block;
}
